.ba-usertable-row{
    cursor: pointer;
    &:hover{
        background-color: lightgrey;
    }
    .ba-user-name{
        font-weight: 500;
    }
    .ba-user-email{
        font-weight: 300;
        font-style: italic;
        line-height: 10px;
    }
    td {
        padding-bottom: 5px;
    }
}

@media (max-width: 768px) {
}
