<ba-app-header></ba-app-header>
<div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
    <div style="text-align:center; display: flex; flex-direction: column; align-items: center;">
        <div style="font-size: 20px; font-weight: 600; margin-bottom: 10px;">
            Pago incorrecto
        </div>
        <div style="max-width: 80%; text-align:center">
            Se ha producido un error en la comprobación del pago del pedido
        </div>
        <div style="margin-top: 20px">
            <button class="btn btn-primary" (click)="goToCustomer()">Salir</button>
        </div>
    </div>
</div>